/* CSS files add styling rules to your content */

body {font-family: serif;
    background-color:   #e6ccb3;}

heading{height: 40px;
      font-size: 80%;
      text-align: right;}

heading ul{list-style-type: none;
         padding: 5px; 
         text-align: right;
         margin-right: 100px;}

heading ul li{margin-bottom: 10px;}

heading ul li a{text-decoration: none;
              margin: 10px;
              padding: 5px;
              border-radius: 10px;
              color: white;}

heading ul li a:hover{color: #d9b38c}
                    
article{ margin: 10px;
       border-radius: 10px;}

#gallary{height: 300px;
       background-image: url("https://cdn.glitch.com/f43ca070-b174-4d52-a51a-58b7bfd2b641%2Fphoto_2019-10-30_18-53-50.jpg?v=1574080385330");
        background-repeat: repeat;
        text-align: center;
        font-size: 20px;
        }

#link{padding: 5px;
  
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;}

#open{font-weight: bold;
    color: white;
    font-size: 40px;
padding: 10%;}

#stories{margin: 20px;}

footer{ height: 160px;
      font-size: 80%;
      margin: 10px;
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      background-color: #d2a679;}

footer ul{list-style-type: none;
        padding: 10px; }

footer ul li {display: inline;}

footer ul li a{text-decoration: none;
             margin: 10px;
             padding: 10px;
             border-radius: 10px;
             color: black;}

footer #about ul li a:hover{background-color: #c68c53;}

footer #copyRight{text-align: center;}
